[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
markdown = "*"
py-gfm = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"

[requires]
python_version = "3.9"
